/* Variables */
:root {
    --color-yellow: #f4d04e;
    --color-gray-950: #111111;
    --color-gray-500: #6b6b6b;
    --color-white: #ffffff;
    --color-black: #000000;
}

/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 500 800;
}

body {
    margin: 0;
    padding: 24px;
    background-color: var(--color-yellow);
    color: var(--color-gray-500);
    font-family: "Figtree", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Base */
h1,
h2,
p {
    margin: 0;
}

h1,
h2 {
    color: var(--color-gray-950);
    font-weight: 900;
}

span {
    font-size: 12px;
    color: var(--color-gray-950);
    margin-bottom: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    transition: all ease-in-out 0.3s;
}

/* Card */
.card {
    border: 1px solid var(--color-gray-950);
    border-radius: 20px;
    padding: 24px;
    background-color: var(--color-white);
    box-shadow: 8px 8px 0 0 var(--color-black);
    max-width: 384px;
}

.card-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card-category {
    display: inline-block;
    padding: 4px 12px;
    background-color: var(--color-yellow);
    border-radius: 4px;
    font-weight: 900;
}

.card-date {
    display: block;
}

.card-title {
    font-size: 20px;
    margin-bottom: 12px;
}

a:hover .card-title {
    color: var(--color-yellow);
}

.card-description {
    margin-bottom: 24px;
}

.card-author {
    display: flex;
    align-items: center;
}

.author-image {
    width: 32px;
    margin-right: 12px;
}

.author-name {
    font-size: 14px;
}

/* Responsive */
@media screen and (min-width: 992px) {
    body {
        font-size: 16px;
    }

    span {
        font-size: 14px;
    }

    .card-title {
        font-size: 24px;
    }
}
