/* Variables */
:root {
    --font-primary: "Outfit", sans-serif;
    --color-dark-navy: #1f314f;
    --color-grey: #7d889e;
    --color-light-grey: #d5e1ef;
    --color-white: #ffffff;
}

/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 28px;
    background-color: var(--color-light-grey);
    font-family: var(--font-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Base */
h1,
p {
    margin: 0;
}

/* Card */
.card {
    max-width: 320px;
    padding: 16px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.card-image {
    display: flex;
    border-radius: 10px;
    margin-bottom: 24px;
    background-image: url("./images/oval.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.qr-code {
    padding: 64px;
}

.card-body {
    text-align: center;
}

.card-title {
    color: var(--color-dark-navy);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
    margin-bottom: 16px;
}

.card-description {
    color: var(--color-grey);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.19px;
    max-width: 256px;
    margin: 0 auto 26px;
}
