/* Variables */
:root {
    --cream-bg: #f2eae2;
    --aurometal-saurus: #6c7289;
    --gunmetal: #1c232b;
    --deep-aquamarine: #3d8168;
    --deep-aquamarine-hover: #1a4032;
    --pure-white: #ffffff;
}

/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 28px 16px;
    background-color: var(--cream-bg);
    color: var(--aurometal-saurus);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Base */
h1,
p {
    margin: 0;
}

strong {
    font-weight: 700;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: inherit;
    font: inherit;
    line-height: normal;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

/* Card */
.card {
    max-width: 343px;
}

.card-image {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 24px;
    background-color: var(--pure-white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-category {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 12px;
    line-height: normal;
}

.card-title {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--gunmetal);
    margin-bottom: 16px;
}

.card-description {
    margin-bottom: 24px;
}

.card-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.new-price {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    line-height: 32px;
    color: var(--deep-aquamarine);
}

.old-price {
    font-size: 13px;
    text-decoration: line-through;
    margin-left: 19px;
}

.card-button {
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--deep-aquamarine);
    color: var(--pure-white);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button img {
    margin-right: 11.5px;
}

.card-button:hover {
    background-color: var(--deep-aquamarine-hover);
}

/* Responsive version tablet */
@media screen and (min-width: 768px) {
    body {
        align-items: center;
    }

    .card {
        max-width: 600px;
        display: flex;
    }

    .card > * {
        flex: 1 1 50%;
    }

    .card-image {
        height: 100%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: inherit;
    }

    .card-body {
        border-top-right-radius: 10px;
        border-bottom-left-radius: inherit;
        padding: 32px;
    }

    .card-category {
        margin-bottom: 20px;
    }

    .card-title {
        margin-bottom: 24px;
    }

    .card-description {
        margin-bottom: 29px;
    }

    .card-price {
        margin-bottom: 30px;
    }
}
