@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
}

body,
h1,
h2,
p {
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}

img {
    max-width: 100%;
    height: auto;
}
