.btn {
    display: inline-block;
    padding: 9px 24px 11px;
    border-radius: 28px;
}

.is-blue {
    background-color: $blue;

    &:hover {
        background-color: $blue-light;
    }
}

.is-pink {
    padding: 15px 37px 15px 38px;
    background: $gradient-pink;

    &:hover {
        filter: opacity(0.5);
    }
}

.is-purple {
    background: $gradient-purple;

    &:hover {
        filter: contrast(0.5);
    }
}

.spotlight {
    background: $gradient-pink;
    border-radius: 10px;
    padding: 24px 29px 32px 28px;
    margin-bottom: calc(16px + (56px / 2));

    &__title {
        color: $white;
        font-size: 24px;
        line-height: 32px;
    }
}

.course {
    background-color: $white;
    padding: 56px 28px 32px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.0442);
    position: relative;

    &__icon {
        position: absolute;
        top: calc(-56px / 2);
    }

    &__title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 16px;
    }

    &__description {
        margin-bottom: 24px;
    }

    &__link {
        color: $pink;

        &:hover {
            color: $pink-light;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
