.btn {
    display: inline-block;
    padding: 9px 24px 11px;
    border-radius: 28px;
}

.is-blue {
    background-color: $blue;

    &:hover {
        background-color: $blue-light;
    }
}

.is-pink {
    padding: 15px 37px 15px 38px;
    background: $gradient-pink;
}

.is-purple {
    background: $gradient-purple;
}
