.header {
    padding-top: 16px;
    padding-bottom: 16px;

    @media #{$tablet} {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    padding-top: calc(38px - 16px);

    @media #{$tablet} {
        padding-top: calc(100px - 24px);
        padding-bottom: 186px;
    }

    &__title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 26px;
    }

    &__description {
        margin-bottom: 24px;
    }

    &__body {
        @media #{$tablet} {
            max-width: 400px;
        }
    }

    &__picture {
        display: flex;
        margin: 46px calc(24px - 16px) 0;

        @media #{$tablet} {
            display: none;
        }
    }
}

.courses {
    padding-bottom: 80px;

    @media #{$tablet} {
        padding-bottom: calc(86px - 56px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    > * {
        @media #{$tablet} {
            flex-basis: 49%;
            margin-bottom: 56px;
        }
    }
}

footer {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
