// Colors
$blue: #13183f;
$blue-light: #666ca3;
$pink: #f74780;
$pink-light: #ffa7c3;
$gray: #83869a;
$white: #ffffff;
$gradient-pink: linear-gradient(#ff6f48 0%, #f02aa6 100%);
$gradient-purple: linear-gradient(#4851ff 0%, #f02aa6 100%);
