@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#ffffff 0%, #f0f1ff 100%);
  color: #83869a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/image-hero-tablet.webp");
    background-repeat: no-repeat;
    background-position: 370px -8%;
  }
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 800;
  color: #13183f;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

header,
section,
footer {
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 768px) {
  header,
  section,
  footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 89px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  line-height: 28px;
  border-radius: 28px;
}

.is-blue {
  background-color: #13183f;
}
.is-blue:hover {
  background-color: #666ca3;
}

.is-pink {
  padding: 15px 37px 15px 38px;
  background: linear-gradient(#ff6f48 0%, #f02aa6 100%);
}
.is-pink:hover {
  filter: opacity(0.5);
}

.is-purple {
  background: linear-gradient(#4851ff 0%, #f02aa6 100%);
}
.is-purple:hover {
  filter: contrast(0.5);
}

.spotlight {
  background: linear-gradient(#ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  padding: 24px 29px 32px 28px;
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .spotlight {
    padding: 56px 32px;
  }
}
.spotlight__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
}

.course {
  background-color: #ffffff;
  padding: 56px 28px 32px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.0442);
  position: relative;
}
@media only screen and (min-width: 768px) {
  .course {
    margin-bottom: 56px;
  }
}
.course__icon {
  position: absolute;
  top: -28px;
}
.course__title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 16px;
}
.course__description {
  margin-bottom: 24px;
}
.course__link {
  color: #f74780;
}
.course__link:hover {
  color: #ffa7c3;
}
.course:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .course:last-child {
    margin-bottom: 56px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding-top: 22px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 76px;
    padding-bottom: 186px;
  }
}
.hero__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 26px;
}
.hero__description {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .hero__body {
    max-width: 400px;
  }
}
.hero__picture {
  display: flex;
  margin: 46px 8px 0;
}
@media only screen and (min-width: 768px) {
  .hero__picture {
    display: none;
  }
}

.courses {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .courses {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
@media only screen and (min-width: 768px) {
  .courses > * {
    flex-basis: 49%;
    margin-bottom: 56px;
  }
}

footer {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #13183f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
