/* Variables */
:root {
    --color-soft-blue: #8bacd9;
    --color-cyan: #00fff8;
    --color-very-dark-blue-main-bg: #0d192c;
    --color-very-dark-blue-card-bg: #15263f;
    --color-very-dark-blue-line: #2e405a;
    --color-white: #ffffff;
}

/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: red;
    font-size: 18px;
    line-height: 26px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

/* Base */
body,
h1,
h2,
p {
    margin: 0;
}

/* Card */
