/* Variables */
:root {
    --color-soft-blue: #8bacd9;
    --color-cyan: #00fff8;
    --color-very-dark-blue-main-bg: #0d192c;
    --color-very-dark-blue-card-bg: #15263f;
    --color-very-dark-blue-line: #2e405a;
    --color-white: #ffffff;
}

/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 24px;
    font-size: 18px;
    line-height: 26px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--color-very-dark-blue-main-bg);
    color: var(--color-soft-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Base */
body,
h1,
h2,
p {
    margin: 0;
}

a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.35s ease-in-out;
}

a:hover {
    color: var(--color-cyan);
}

/* Card */
.card {
    max-width: 350px;
    padding: 24px;
    background-color: var(--color-very-dark-blue-card-bg);
    border-radius: 15px;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.0953);
}

.card-header {
    display: flex;
    position: relative;
    z-index: 0;
    transition: all ease-in-out 10s;
}

.card-header::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--color-cyan);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.35s ease-out;
}

.card-header:hover::before {
    opacity: 0.53;
}

.card-header::after {
    content: url("./images/icon-view.svg");
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in 0.05s;
}

.card-header:hover::after {
    opacity: 1;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-body {
    padding-top: 24px;
}

.card-title h1 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
}

.card-description {
    margin-bottom: 16px;
}

.card-infos {
    display: flex;
    justify-content: space-between;
}

.card-infos > div {
    display: flex;
    align-items: center;
}

.card-infos img {
    margin-right: 5px;
}

.nft-price strong {
    color: var(--color-cyan);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.nft-time-left span {
    font-size: 15px;
    font-weight: 400;
}

hr {
    margin: 16px 0;
    border: none;
    border-top: 1px solid var(--color-very-dark-blue-line);
}

.card-author {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.author-avatar {
    width: 33px;
    margin-right: 16px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
}

.author-name {
    font-size: 15px;
    font-weight: 400;
}

/* Responsive */
@media screen and (min-width: 992px) {
    .nft-price strong,
    .nft-time-left span,
    .author-name {
        font-size: 16px;
    }
}
