/*#region: Variables*/
:root {
    --dark-navy: hsl(223, 30%, 27%);
    --white: hsl(0, 0%, 100%);
    --light-blue: hsl(241, 100%, 89%);
    --very-light-blue: hsl(220, 100%, 96%);
    --red: hsl(0, 100%, 67%, 1);
    --red-95-white: hsla(0, 100%, 67%, 0.05);
    --yellow: hsl(40, 100%, 56%);
    --yellow-95-white: hsla(40, 100%, 56%, 0.05);
    --green: hsl(166, 100%, 37%, 1);
    --green-95-white: hsla(166, 100%, 37%, 0.05);
    --blue: hsl(234, 85%, 45%);
    --blue-95-white: hsla(234, 85%, 45%, 0.05);
    --gradient-1: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
    --gradient-2: linear-gradient(
        180deg,
        #4d21c9 0%,
        rgba(37, 33, 201, 0) 100%,
        rgba(37, 33, 201, 0) 100%
    );
}
/*#endregion: Variables*/

/*#region: General*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../fonts/HankenGrotesk-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
}

body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: var(--very-light-blue);
    color: var(--dark-navy);
    display: flex;
    justify-content: center;
    height: 100vh;
}
/*#endregion: */

/*#region: Base*/
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    outline: none;
    cursor: pointer;
}
/*#endregion*/

/*#region: Result*/
.result {
    position: relative;
    z-index: 2;
    padding: 24px 57px 40px 58px;
    border-radius: 0px 0px 32px 32px;
    background: var(--gradient-1);
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.result--title {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.result--score {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: var(--gradient-2);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}

.result--score strong {
    font-size: 56px;
    font-weight: 800;
    line-height: 72px;
    color: var(--white);
}

.result--score span {
    font-weight: 700;
    opacity: 0.5;
}

.result--mention {
    color: var(--white);
    font-size: 24px;
    margin-bottom: 8px;
}

.result--description {
    max-width: 260px;
    flex-shrink: 0;
}
/*#endregion: Result*/

/*#region : Summary*/
.summary {
    position: relative;
    z-index: 1;
    margin-top: -30px;
    padding: 54px 30px 30px;
    background: var(--white);
}

.summary--title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}

.indicator {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indicator:last-child {
    margin-bottom: 24px;
}

.indicator--icon {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.indicator--category {
    font-size: 16px;
    font-weight: 500;
}

.indicator--score {
    margin-left: auto;
    font-weight: 700;
}

.indicator--score strong {
    margin-right: 5px;
}

.indicator--score span {
    opacity: 0.5;
}

.indicator.is-red {
    background: var(--red-95-white);
}

.indicator.is-red .indicator--category {
    color: var(--red);
}

.indicator.is-yellow {
    background: var(--yellow-95-white);
}

.indicator.is-yellow .indicator--category {
    color: var(--yellow);
}

.indicator.is-green {
    background: var(--green-95-white);
}

.indicator.is-green .indicator--category {
    color: var(--green);
}

.indicator.is-blue {
    background: var(--blue-95-white);
    margin-bottom: 24px;
}

.indicator.is-blue .indicator--category {
    color: var(--blue);
}

.btn {
    display: block;
    text-align: center;
    padding: 18px;
    width: 100%;
    background: var(--dark-navy);
    color: var(--white);
    border-radius: 128px;
    font-size: 18px;
    font-weight: 700;
}

.btn:hover {
    background: var(--gradient-1);
}
/*#endregion: Summary*/

/*#region: Responsive Desktop*/
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
        align-items: center;
    }

    main {
        display: flex;
    }

    main > * {
        flex: 1;
    }

    .result {
        min-width: 368px;
        padding: 38px 54px 55px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }

    .result--title {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .result--score {
        width: 200px;
        height: 200px;
        margin-bottom: 28px;
    }

    .result--score strong {
        font-size: 72px;
    }

    .result--mention {
        font-size: 32px;
        margin-bottom: 14px;
    }

    .summary {
        min-width: 398px;
        padding: 38px 40px 46px 70px;
        margin-top: inherit;
        margin-left: -30px;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    .summary--title {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .indicator.is-blue {
        margin-bottom: 41px;
    }
}
/*#endregion: Responsive Desktop*/
