/* General */

@font-face {
    font-family: 'HankenGrotesk';
    src: url('../fonts/HankenGrotesk-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
}

body {
    font-family: 'HankenGrotesk', sans-serif;
}
